@mixin show($breakpoint, $row) {
  @if $breakpoint == "sm" {
    @if $row == "true" or $row == "row" {
      display: flex;
    } @else {
      display: block;
    }
  } @else if $breakpoint == "sm-only" {
    @media #{$breakpoint-sm-only} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "pd" {
    @media #{$breakpoint-pd-up} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "pd-only" {
    @media #{$breakpoint-pd-only} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "tb" {
    @media #{$breakpoint-tb-up} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "tb-only" {
    @media #{$breakpoint-tb-only} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "lp" {
    @media #{$breakpoint-lp-up} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "lp-only" {
    @media #{$breakpoint-lp-only} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "dt" {
    @media #{$breakpoint-dt-up} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "dt-only" {
    @media #{$breakpoint-dt-only} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else if $breakpoint == "wd" {
    @media #{$breakpoint-wd-up} {
      @if $row == "true" or $row == "row" {
        display: flex;
      } @else {
        display: block;
      }
    }
  } @else {
    @warn "show mixin arg must be one of the existing breakpoints or ranges (#{$breakpoint-all-prefixes})";
  }
}

@mixin hide($breakpoint) {
  @if $breakpoint == "sm" {
    display: none;
  } @else if $breakpoint == "sm-only" {
    @media #{$breakpoint-sm-only} {
      display: none;
    }
  } @else if $breakpoint == "pd" {
    @media #{$breakpoint-pd-up} {
      display: none;
    }
  } @else if $breakpoint == "pd-only" {
    @media #{$breakpoint-pd-only} {
      display: none;
    }
  } @else if $breakpoint == "tb" {
    @media #{$breakpoint-tb-up} {
      display: none;
    }
  } @else if $breakpoint == "tb-only" {
    @media #{$breakpoint-tb-only} {
      display: none;
    }
  } @else if $breakpoint == "lp" {
    @media #{$breakpoint-lp-up} {
      display: none;
    }
  } @else if $breakpoint == "lp-only" {
    @media #{$breakpoint-lp-only} {
      display: none;
    }
  } @else if $breakpoint == "dt" {
    @media #{$breakpoint-dt-up} {
      display: none;
    }
  } @else if $breakpoint == "dt-only" {
    @media #{$breakpoint-dt-only} {
      display: none;
    }
  } @else if $breakpoint == "wd" {
    @media #{$breakpoint-wd-up} {
      display: none;
    }
  } @else {
    @warn "hide mixin arg must be one of the existing breakpoints or ranges (#{$breakpoint-all-prefixes})";
  }
}
