// Grid
$grid-columns:            12 !default; // Set number of columns in the grid

$sm-max:                  767px !default;  // Максимальное разрешение смартфона
$pd-max:                  1023px !default; // Максимальное разрешение pad
$tb-max:                  1365px !default; // Максимальное разрешение планшета
$lp-max:                  1599px !default; // Максимальное разрешение ноутбука
$dt-max:                  1919px !default; // Максимальное разрешение монитора (до широкого формата)

// горизонтальные отступы
$gutter:                  1rem !default;
$gutter-sm:               1rem !default;
$gutter-pd:               1rem !default;
$gutter-tb:               1rem !default;
$gutter-lp:               1rem !default;
$gutter-dt:               1rem !default;
$gutter-wd:               1rem !default;

$content-well-max-width:  1320px !default; // Set the max-width of the content well

$pd-start:                ($sm-max + 1); // 768 px
$tb-start:                ($pd-max + 1); // 1024 px
$lp-start:                ($tb-max + 1); // 1366 px
$dt-start:                ($lp-max + 1); // 1600 px
$wd-start:                ($dt-max + 1); // 2560 px

// Breakpoints
// Create breakpoint range statements to be used in media queries
$breakpoint-sm-only:      "only screen and (max-width: #{$sm-max})";
$breakpoint-pd-up:        "only screen and (min-width: #{$pd-start})";
$breakpoint-pd-only:      "only screen and (min-width: #{$pd-start}) and (max-width: #{$pd-max})";
$breakpoint-tb-up:        "only screen and (min-width: #{$tb-start})";
$breakpoint-tb-only:      "only screen and (min-width: #{$tb-start}) and (max-width: #{$tb-max})";
$breakpoint-lp-up:        "only screen and (min-width: #{$lp-start})";
$breakpoint-lp-only:      "only screen and (min-width: #{$lp-start}) and (max-width: #{$lp-max})";
$breakpoint-dt-up:        "only screen and (min-width: #{$dt-start})";
$breakpoint-dt-only:      "only screen and (min-width: #{$dt-start}) and (max-width: #{$dt-max})";
$breakpoint-wd-up:        "only screen and (min-width: #{$wd-start})";

$breakpoints-all:         ($breakpoint-sm-only, $breakpoint-pd-up, $breakpoint-pd-only, $breakpoint-tb-up, $breakpoint-tb-only, $breakpoint-lp-up, $breakpoint-lp-only, $breakpoint-dt-up, $breakpoint-dt-only, $breakpoint-wd-up);
$breakpoint-ups:          ($breakpoint-pd-up, $breakpoint-tb-up, $breakpoint-lp-up, $breakpoint-dt-up, $breakpoint-wd-up);
$breakpoint-all-prefixes: ("sm", "sm-only", "pd", "pd-only", "tb", "tb-only", "lp", "lp-only", "dt", "dt-only", "wd");
$breakpoint-up-prefixes:  ("sm", "pd", "tb", "lp", "dt", "wd");

$pad:                     $breakpoint-pd-up;
$tablet:                  $breakpoint-tb-up;
$laptop:                  $breakpoint-lp-up;
$desktop:                 $breakpoint-dt-up;
$wide:                    $breakpoint-wd-up;

$smart-only:              $breakpoint-sm-only;
$pad-only:                $breakpoint-pd-only;
$tablet-only:             $breakpoint-tb-only;
$laptop-only:             $breakpoint-lp-only;
$desktop-only:            $breakpoint-dt-only;
