@import "../supplies/variables";                                              // продублировано из styles.scss, чтобы переменные не подсвечивались

// --- Кнопка Вернуться к началу страницы --------------------------------------------------
#back-to-top {
  position: fixed; bottom: 5rem; right: 6%; z-index: 100;
  cursor: pointer;
}
