@import "variables";                                                            // продублировано из styles.scss, чтобы переменные не подсвечивались

@import url($font-url);

html {
  font-size: 12px;
  height: 100%;
  overflow-y: scroll;

  @media #{$pad}      { font-size: 16px; }
  @media #{$tablet}   { font-size: 17px; }
  @media #{$laptop}   { font-size: 18px; }
  @media #{$desktop}  { font-size: 18px; }
  @media #{$wide}     { font-size: 18px; }
}

*,
html * {
  box-sizing: border-box;
  outline: 0 !important;
  scrollbar-color: $brand-primary #f1f1f1;
}

a { text-decoration: none; }

body {
  background-color: $page-bkg;
  color: $text-color; line-height: 1.22; font-family: $font-name, Helvetica, Arial, sans-serif;
  height: 100%; min-height: 100%;
  position: relative;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, .h1 { font-size: $font-size-h1; font-weight: 700; }
h2, .h2 { font-size: $font-size-h2; font-weight: 700; }
h3, .h3 { font-size: $font-size-h3; font-weight: 700; }
h4, .h4 { font-size: $font-size-h4; font-weight: 700; }
h5, .h5 { font-size: $font-size-h5; font-weight: 700; }
h6, .h6 { font-size: $font-size-h6; font-weight: 700; }

h1, h2, h3 { margin: 2rem 0 1rem; }
h4, h5, h6 { margin: 1rem 0; }

.screen-wide {
  @include screen-wide();
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.clearfix:after { content: ''; }



// --- Иконочный шрифт ---------------------------------------------------------------------
.icon {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
