@import "variables";                                                            // продублировано из styles.scss, чтобы переменные не подсвечивались


.button {
  @include btn();
  @include button-size($btn-padding-base-v, $btn-padding-base-h, $btn-font-size-base, $line-height-base, $btn-border-radius-base, $input-height-base);

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled],
  &.button--disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: $input-disabled-opacity;
    // pointer-events: none;                                                    свойство удалено, так как из-за него не отображается значение свойства cursor
    box-shadow: none;
  }

  &:not(:last-child) { margin-right: 1rem; }                                    // отбивка для рядом стоящих кнопок

  &.button--outline.button--default   { @include button-variant($btn-default-color, transparent, $btn-default-color, $btn-default-h-color, transparent, $btn-default-h-color); }
  &.button--outline.button--white     { @include button-variant(#fff, transparent, #fff); }
  &.button--outline.button--brand,
  &.button--outline.button--primary   { @include button-variant($btn-primary-bg, transparent, $btn-primary-border, $btn-primary-h-bg, transparent, $btn-primary-h-border); }
  &.button--outline.button--danger    { @include button-variant($btn-danger-bg, transparent, $btn-danger-border, $btn-danger-h-bg, transparent, $btn-danger-h-border); }
  &.button--outline.button--warning   { @include button-variant($btn-warning-bg, transparent, $btn-warning-border, $btn-warning-h-bg, transparent, $btn-warning-h-border); }

  &.button--badge {
    font-size: .5rem;
    height: 25px;
  }

  // кнопка-иконка, без рамок и фона
  &.button--icon {
    border: none;
    background: none;
  }
  // кнопка с текстом и иконкой
  &.button--with-icon {
    i { position: absolute; left: $input-padding-base-h; top: $input-padding-base-v; }
    &.button--sm i,
    &.button--small i { left: $input-padding-small-h; top: $input-padding-small-v; }
    &.button--lg i,
    &.button--large i { left: $input-padding-large-h; top: $input-padding-large-v; }
  }
  &.button--with-icon-right .icon { margin-left: .8em; }
  &.button--with-icon-left .icon { margin-right: .8em; }

  &.button--wide { padding-left: 1em*3; padding-right: 1em*3; }
  &.button--full-width { width: 100%; }
  &.button--full-height {
    display: inline-flex; justify-content: center; align-items: center;
    height: 100%;
  }

  &.button--underline {
    flex-direction: column;
    &:after {
      content: ' ';
      background-color: #fff;
      display: block;
      width: 4rem; height: 1px;
      margin: 8px auto 0;
      transition: width 200ms;
    }
    &:hover:after {
      width: 5rem;
    }
  }

  &.button--uppercase {
    text-transform: uppercase;
  }

  &.button--file {
    position: relative;
    overflow: hidden;
    justify-content: center;
    min-width: 2rem;
    input[type=file] {
      background: white;
      display: block;
      position: absolute; top: 0; right: 0;
      min-width: 100%; min-height: 100%;
      font-size: 100px; text-align: right;
      filter: alpha(opacity = 0);
      opacity: 0;
      outline: none;
      cursor: inherit;
    }
  }
}

.button--default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-h-color, $btn-default-h-bg, $btn-default-h-border);
}
.button--white {
  @include button-variant($btn-default-color, #fff, #fff);
}
.button--brand,
.button--primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-h-color, $btn-primary-h-bg, $btn-primary-h-border);
}
// Success appears as green
.button--success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border, $btn-success-h-color, $btn-success-h-bg, $btn-success-h-border);
}
// Info appears as blue-green
.button--info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-h-color, $btn-info-h-bg, $btn-info-h-border);
}
// Warning appears as orange
.button--warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border, $btn-warning-h-color, $btn-warning-h-bg, $btn-warning-h-border);
}
// Danger and error appear as red
.button--danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-danger-h-color, $btn-danger-h-bg, $btn-danger-h-border);
}

// Make a button look and behave like a link
.button--link {
  font-weight: 400;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.button--large,
.button--lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-large-v, $btn-padding-large-h, $btn-font-size-large, $line-height-large, $btn-border-radius-large, $input-height-large);
}
.button--small,
.button--sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-small-v, $btn-padding-small-h, $btn-font-size-small, $line-height-small, $btn-border-radius-small, $input-height-small);
}
.button--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $btn-font-size-small, $line-height-small, $btn-border-radius-small, $input-height-small*.89);
}

.badge {
  position: absolute; top: -10px; right: -10px;
  background: $brand-primary; border-radius: 50px;
  color: #fff; font-size: .6em; line-height: 1;
  padding: .2em .6em;
}

