@import "variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

// --- Разметка страницы --------------------------------------------------------------
.page-wrapper {
  overflow: hidden;
}

.page {
  display: flex; flex-direction: column;                    // прижать подвал
  min-height: 100vh;                                        // при открытом меню подвал не прижимается к низу страницы
  position: relative;
  transition: all 200ms ease-in;
}

.page-offside {
  background: $menu-mobile-bkg;
  position: fixed; bottom: 0; z-index: 11;
  width: $menu-mobile-width; height: 100%;
  padding: 0 0 4em 0;
  transition: all 200ms ease-in;
  display: flex; flex-direction: column; flex-wrap: nowrap;
  overflow-y: scroll;

  .page-offside-left & {
    left: 0;
    margin: 0 0 0 (-$menu-mobile-width);
  }
  .page-offside-right & {
    right: 0;
    margin: 0 (-$menu-mobile-width) 0 0;
  }

  @media #{$laptop} {
    display: none;
  }
}

.page-offside-opened {
  .page-offside { margin: 0; }

  // меню слева
  &.page-offside-left .page { transform: translate3d($menu-mobile-width, 0, 0); }
  // меню справа
  &.page-offside-right .page { transform: translate3d(-$menu-mobile-width, 0, 0); }
}

.page-content {
  flex: 1 0 auto;
}

.page-footer {
  background: $footer-bkg;
  color: $footer-text;

  .container,
  .container-fluid { height: 100%; }
}

.page-title {
  margin-bottom: 2rem;
}

// корректировка стандартного стиля, оставляющего 1px под подвалом
.visually-hidden {
  inset: 0;
}
