@import "variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

.menu {
  margin: 0; padding: 0;
  list-style: none outside;
  text-align: left;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 0; padding: 0;
    list-style: none;
  }
}

.page-header {
  .menu-wrapper {
    display: flex; justify-content: space-between; align-items: center;
    height: 100%;
    .region-primary-menu {
      display: flex; justify-content: start;
      flex: 1 1 auto;
    }
    .region-secondary-menu {
      display: flex; justify-content: end;
      flex: 0 0 auto;
    }

    .menu {
      a {
        display: inline-block;
        padding: 0.7rem 0.5rem;
        text-decoration: none;
        transition: color 150ms;
      }
      // верхний уровень меню
      > .menu-item {
        display: inline-block;
        position: relative;
        > a {
          color: $menu-item-color; white-space: nowrap;
          &:hover { color: $menu-item-hover-color; }
          &.is-active,
          &:focus { color: $menu-item-active-color; }
        }
        &.first a,
        &:first-child a { padding-left: 0; }  // выровнять первый пункт меню по сетке
      }

      // вложенные меню
      .menu-item--expanded {
        .menu {
          visibility: hidden; opacity: 0;
          position: absolute; z-index: 10;
          background-color: $submenu-bkg;
          min-width: $submenu-min-width;
          padding: .5rem 0;
          a {
            color: $submenu-item-color;
            width: 100%;
          }
          > .menu-item {
            display: block;
            padding-left: 1rem; padding-right: 1rem;
            &:hover,
            &:focus {
              background: $submenu-item-hover-bkg;
              & > .menu { visibility: visible; opacity: 1; }
              > a { color: $submenu-item-hover-color; }
            }
          }
        }
        &:hover,
        &:focus {
          & > .menu { visibility: visible; opacity: 1; }
        }

        // третий уровень и ниже
        .menu-item--expanded .menu {
          left: 90%; top: 10px;
        }

      }

    }
    // выпадающее меню
    .menu .menu {
      .region-primary-menu & { left: 0; }
      .region-secondary-menu & { right: 0; }
    }

  }
}


